# Environment variables
.env
.env.*

# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/

# OS files
.DS_Store
Thumbs.db

# vectorstore binaries 
RAG/vectorstore/*.sqlite3
RAG/vectorstore/*/

# FAISS build artefacts 
RAG/vectorstore/faiss_index.bin
RAG/vectorstore/tfidf_vectorizer.pkl
RAG/vectorstore/chunks_metadata.pkl
