SQLAlchemy>=2.0.31
pg8000>=1.31.2
python-dotenv>=1.0.1
fastapi>=0.111.0
uvicorn[standard]>=0.30.1
pydantic>=2.7.4
langchain-community>=0.2.0
langchain-text-splitters>=0.2.0
langchain-huggingface>=0.0.3
langchain-chroma>=0.1.2
langchain-core>=0.2.0
rank_bm25>=0.2.2
sentence-transformers>=3.0.1
transformers>=4.42.0
torch>=2.2.0